In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'

In [5]:
countries = pd.read_html(url,header=1)
countries[0]

,Country/Territory,UN Region,Estimate,Year,Estimate.1,Year.1,Estimate.2,Year.2
0,World,-,93863851,2021,87461674,2020,84705567,2020
1,United States,Americas,25346805,2022,20893746,2020,20936600,2020
2,China,Asia,19911593,[n 2]2022,14722801,[n 3]2020,14722731,2020
3,Japan,Asia,4912147,2022,5057759,2020,4975415,2020
4,Germany,Europe,4256540,2022,3846414,2020,3806060,2020
...,...,...,...,...,...,...,...,...
212,Palau,Oceania,244,2022,264,2020,268,2019
213,Kiribati,Oceania,216,2022,181,2020,200,2020
214,Nauru,Oceania,134,2022,135,2020,118,2019
215,Montserrat,Americas,—,—,68,2020,—,—
216,Tuvalu,Oceania,66,2022,55,2020,49,2020

In [6]:
df_countries = countries[0]

In [7]:
df_countries.head()

,Country/Territory,UN Region,Estimate,Year,Estimate.1,Year.1,Estimate.2,Year.2
0,World,-,93863851,2021,87461674,2020,84705567,2020
1,United States,Americas,25346805,2022,20893746,2020,20936600,2020
2,China,Asia,19911593,[n 2]2022,14722801,[n 3]2020,14722731,2020
3,Japan,Asia,4912147,2022,5057759,2020,4975415,2020
4,Germany,Europe,4256540,2022,3846414,2020,3806060,2020

In [10]:
df_countries.rename({"Country/Territory":"country","UN Region":"region","Year":"year"},inplace=True,axis=1)

In [11]:
df_countries.shape

(217, 8)

In [12]:
df_country = df_countries.loc[:,["country","region","Estimate","year"]]

In [13]:
df_country.head()

         country    region  Estimate       year
0          World         -  93863851       2021
1  United States  Americas  25346805       2022
2          China      Asia  19911593  [n 2]2022
3          Japan      Asia   4912147       2022
4        Germany    Europe   4256540       2022

In [16]:
df_country['year'].str.replace("[n 2]",'')

C:\Users\Mohamed\AppData\Local\Temp/ipykernel_9712/461740695.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_country['year'].str.replace("[n 2]",'')

0       01
1        0
2      []0
3        0
4        0
      ...
212      0
213      0
214      0
215      —
216      0
Name: year, Length: 217, dtype: object

In [18]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   217 non-null    object
 1   region    217 non-null    object
 2   Estimate  217 non-null    object
 3   year      217 non-null    object
dtypes: object(4)
memory usage: 6.9+ KB

In [22]:
df_country['year'].value_counts()

2022          185
—              20
2021            3
[n 2]2022       1
[n 5]2022       1
[n 6]2022       1
[n 7]2021       1
2020            1
[n 10]2022      1
[n 13]2022      1
2010            1
[n 14]2022      1
Name: year, dtype: int64

In [52]:
import re 
df_country['year'] = df_country['year'].str.replace(r"\[n\s\d{1,2}]","")

C:\Users\Mohamed\AppData\Local\Temp/ipykernel_9712/2447994354.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_country['year'] = df_country['year'].str.replace(r"\[n\s\d{1,2}]","")

In [53]:
df_country['year'].value_counts()

2022    191
—        20
2021      4
2020      1
2010      1
Name: year, dtype: int64

In [75]:
df_country[df_country['year'] == '—']

                      country    region Estimate year
68                       Cuba  Americas        —    —
135               North Korea      Asia        —    —
151             New Caledonia   Oceania        —    —
158                   Bermuda  Americas        —    —
159             Liechtenstein    Europe        —    —
160                    Monaco    Europe        —    —
161            Cayman Islands  Americas        —    —
163                      Guam   Oceania        —    —
164          French Polynesia   Oceania        —    —
176                 Greenland  Americas        —    —
180                   Curaçao  Americas        —    —
189                  Zanzibar    Africa        —    —
194    British Virgin Islands  Americas        —    —
197  Northern Mariana Islands   Oceania        —    —
201  Turks and Caicos Islands  Americas        —    —
202              Sint Maarten  Americas        —    —
204            American Samoa   Oceania        —    —
209              Cook Islands   Oceania        —    —
211                  Anguilla  Americas        —    —
215                Montserrat  Americas        —    —

In [79]:
df_country = df_country[df_country["year"].isin(['2022', '2021', '2020', '2010'])]

In [81]:
df_country['year'].value_counts()

2022    191
2021      4
2020      1
2010      1
Name: year, dtype: int64

In [82]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 0 to 216
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   197 non-null    object
 1   region    197 non-null    object
 2   Estimate  197 non-null    object
 3   year      197 non-null    object
dtypes: object(4)
memory usage: 7.7+ KB

In [85]:
df_country['Estimate'] = df_country['Estimate'].str.replace(r"\[n\s\d{1,2}]","")

C:\Users\Mohamed\AppData\Local\Temp/ipykernel_9712/222950058.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_country['Estimate'] = df_country['Estimate'].str.replace(r"\[n\s\d{1,2}]","")
C:\Users\Mohamed\AppData\Local\Temp/ipykernel_9712/222950058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Estimate'] = df_country['Estimate'].str.replace(r"\[n\s\d{1,2}]","")

In [86]:
df_country.groupby('region').max()

                 country  Estimate  year
region
-                  World  93863851  2021
Africa          Zimbabwe      9280  2022
Americas       Venezuela       953  2022
Asia               Yemen      9017  2022
Europe    United Kingdom      9660  2022
Oceania          Vanuatu       816  2022

114     27726
205       635
212       244
191      1669
169      4646
67     109080
23     692380
32     501354
75      76591
190      1698
115     26665
132     17251
210       267
64     115462
61     124862
214       134
146     12938
66     110127
216        66
152      9660
Name: Estimate, dtype: object